<div id="add-public">
  <div class="container">
    <h1 class="text-center">Put it on!</h1>
    <div class="signup-form">
      <p class="text-center">Let's get started! share whats on right now.</p>
      <hr/>
      <ajax-form action="add" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="title"title</label>
          <input class="form-control" id="title" type="text"  :class="[formErrors.title ? 'is-invalid' : '']" v-model.trim="formData.title" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.title">Title.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Body</label>
          <input class="form-control" id="body" type="text"  :class="[formErrors.body ? 'is-invalid' : '']" v-model.trim="formData.body" placeholder="This just got real" >
          <div class="invalid-feedback" v-if="formErrors.body">Please enter a valid text.</div>
        </div>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Create A Post</ajax-button>
        </div>
        <p class="text-danger" v-if="cloudError==='SlugExists'"><small>It looks like there's already an account with your email address. If you forgot your password, you can recover it <a href="password/forgot">here</a>.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/support">contact support</a> if the error persists.</small></p>
      
      </ajax-form>
   
    </div>
  </div>
</div>
  
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
